.ev-thumbnail-reel {
  background-color: transparent;
  cursor: grab;
  grid-row: 2/3;
  grid-column: 1/2;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  overflow: hidden;

  .left,
  .right {
    z-index: 1000;
    position: absolute;

  }

  .left {
    top: 50%;
    transform: translate(0, -50%);
  }

  .right {
    top: 50%;
    transform: translate(0, -50%);
  }

  .ev-thumbnail {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    opacity: 0.5;

    transition: opacity 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    //stransition: left 500ms ease-in-out;

    user-select: none;

    * {
      user-select: none;
    }

    background-color: rgb(45, 48, 51);

    min-width: 15%;
    max-width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 22px;

    margin-left: 10px;
    margin-right: 10px;

    position: relative;
    cursor: pointer;

    &.active {
      opacity: 1;
      transform: scale(1.1);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}